name: lint

on:
  pull_request:
    branches:
      - main

jobs:
  pytest:
    name: Run lint with black, isort, ruff
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install poetry==1.5.1
      - name: Add path for Poetry
        run: echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Install Dependencies
        run: poetry install --with lint
      - name: Lint with black
        run: poetry run black . --check
      - name: Lint with isort
        run: poetry run isort . --check-only
      - name: Lint with ruff
        run: poetry run ruff .
