name: test

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up rye
        uses: eifinger/setup-rye@v3
      - name: Install dependencies
        run: |
          rye config --set-bool behavior.use-uv=true
          rye sync --no-lock
      - name: Run tests
        run: |
          rye run pytest -ra --cov=src --cov-report=term --cov-report=xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
